<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.bancodigital">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BancoDigitalApp">
        <activity
            android:name=".extrato.ExtratoActivity"
            android:exported="false" />
        <activity
            android:name=".transferencia.TransferenciaReciboActivity"
            android:exported="false" />
        <activity
            android:name=".transferencia.TransferenciaConfirmaActivity"
            android:exported="false" />
        <activity
            android:name=".transferencia.TransferenciaUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".transferencia.TransferenciaFormActivity"
            android:exported="false" />
        <activity
            android:name=".recarga.RecargaReciboActivity"
            android:exported="false" />
        <activity
            android:name=".recarga.RecargaFormActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.MinhaContaActivity"
            android:exported="false"
            android:theme="@style/Theme.BancoDigitalApp2" />
        <activity
            android:name=".deposito.DepositoReciboActivity"
            android:exported="false" />
        <activity
            android:name=".deposito.DepositoFormActivity"
            android:exported="false" />
        <activity
            android:name=".app.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".autenticacao.RecuperaContaActivity"
            android:exported="false" />
        <activity
            android:name=".autenticacao.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".autenticacao.CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".app.MainActivity"
            android:exported="false" />
    </application>

</manifest>