<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.ecommerce">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce">
        <activity
            android:name=".activity.usuario.UsuarioSelecionaEnderecoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.usuario.UsuarioResumoPedidoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.usuario.UsuarioFormEnderecoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.usuario.UsuarioEnderecoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.usuario.DetalhesProdutoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.loja.LojaRecebimentosActivity"
            android:exported="false" />
        <activity
            android:name=".activity.loja.LojaConfigActivity"
            android:exported="false" />
        <activity
            android:name=".activity.loja.LojaFormProdutoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.loja.MainActivityEmpresa"
            android:exported="false" />
        <activity
            android:name=".autenticacao.CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".autenticacao.RecuperaContaActivity"
            android:exported="false" />
        <activity
            android:name=".autenticacao.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.app.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.usuario.MainActivityUsuario"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.br.ecommerce.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>