<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beatriz.olx_clone">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Olx_clone">
        <activity
            android:name=".activity.DetalhesAnunciosActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FiltrosActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegioesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EstadosActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CategoriasActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FormAnuncioActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EnderecoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".autenticacao.RecuperarSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".autenticacao.CriarContaActivity"
            android:exported="false" />
        <activity
            android:name=".autenticacao.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.beatriz.olx_clone.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>